
input, select {
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 21px;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    width: 70%;
}

input[type=text] {
    display: inline-block;
    width: 45%;
}

.offerform {
    align-content: center;
    background-color: #eee2ce;
    clear: both;
    margin: auto;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 60%;
}

.fieldset {
    display: inline-block;
    width: 70%;
}

textarea {
    display: inline-block;
    margin: auto;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .offerform {
        width: 95%;
    }

    .fieldset {
        display: block;
        width: 100%;
        margin: auto;
    }

    input[type=text] {
        display: block;
        margin: 3% auto;
        width: 90%;
    }

    input{
        margin: 3% auto;
        width: 90%;
    }

    textarea {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 990px) and (min-width: 600px) {
    .offerform{
        width: 60%;
    }
}
