body {
    background: #0000002e;
}

.welcome {
    clear: both;
    display: block;
    margin: 2%;
    padding: 2%;
}

.ridesoffered {
    background: #eee2ce;
    border: 3px solid grey;
    margin: 0 auto;
    overflow: auto;
    width: 80%;
}

.offerride {
    background: #6f97c1;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 5%;
    text-align: center;
    vertical-align: middle;
    width: 50%;

}

.ridesinfo {
    display: inline-block;
    font-size: 20px;
    width: 40%;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 95%;
}

th {
    background: #a52a2a7a;
}

td, th {
    border-right: 1px solid grey;
    padding: 8px;
    text-align: left;
}

td a {
    color: red;
    display: block;
    width: 100%;
}

tr:hover {
    background: #13c3c3;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even):hover {
    background: #13c3c3;
}

.requests {
    cursor: pointer;
}

.info {
    text-align: center;

}
