body {
    background-image: url(../images/road.jpg);
    background-size: cover;
}

.slogan {
    clear: both;
    text-align: center;
}

.intro {
    background-color: #eee2cec9;
    display: inline-block;
    height: auto;
    margin: auto;
    margin-left: 5%;
    margin-right: 20%;
    min-width: 35%;
    position: relative;
    vertical-align: top;
    width: 35%;
}

.intro>h1 {
    align-content: center;
    font-size: 40px;
    font-weight: 900;
}

.intro>p {
    font-size: 24px;
    text-align: center;
}

.signupform {
    align-content: center;
    background-color: #eee2ce;
    display: inline-block;
    min-width: 35%;
    vertical-align: middle;
}


@media only screen and (max-width: 990px) {
    .signupform{
        display: block;
        margin: 0 auto;
        width: 95%;
    }

    .intro{
        display: block;
        margin: 0 auto;
        width: 95%;
    }
}

.call-to-action {
    background-color: #6f97c1;
    border: none;
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 200px;

}

.signupbutton {
    background-color: magenta;
    border: none;
    height: 50px;
    left: 40%;
    margin: 5%;
    width: 120px;
}

input[type=text], input[type=password], input[type=email], select {
    background: #f1f1f1;
    border: none;
    display: block;
    font-size: 21px;
    margin: 3%;
    width: 70%;

}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

h1, h2 {
    text-align: center;
}
