.loginform {
    align-content: center;
    background-color: #eee2ce;
    clear: both;
    margin: 0 auto;
    vertical-align: middle;
    width: 80%;
}


input[type=text], input[type=password], input[type=email], select {
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 21px;
    margin: 3% auto;
    text-align: center;
    width: 80%;
}

.signupbutton{
    background-color: magenta;
    border: none;
    float: right;
    height: 40px;
    left: 40%;
    line-height: 40px;
    margin: 2%;
    text-align: center;
    width: 100px;
}

.loginform {
    align-content: center;
    background-color: #eee2ce;
    clear: both;
    margin: 14.5% auto;
    position: relative;
    vertical-align: middle;
    width: 40%;
}

.login{
    background-color: #6f97c1;
    border: none;
    display: block;
    height: 50px;
    left: 40%;
    margin: 0 auto;
    width: 120px;
}

@media only screen and (max-width: 600px) {
    .loginform{
        margin-top: 40%;
        width: 95%;
    }
}

@media only screen and (max-width: 990px) and (min-width: 600px) {
    .loginform{
        margin-top: 20%;
        width: 60%;
    }
}
