html, body {
    height: 100%;
    overflow: auto;
    width: 100%;
}

body {
    margin: 0;
    position: relative;
}

.logo {
    background: cyan;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;

}

a {
    text-decoration: none;
}

header {
    float: left;
}

nav {
    background-color: grey;
    float: right;
    height: 10%;
    opacity: 0.85;
    width: 50%;
}

.loginbutton {
    background-color: #6f97c1;
    color: blue;
    float: right;
    height: 40px;
    line-height: 40px;
    margin: 2%;
    text-align: center;
    width: 100px;
}

footer {
    align-content: center;
    background-color: grey;
    bottom: 0;
    height: 52px;
    line-height: 52px;
    margin-top: 4%;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

button, a {
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}

button:hover,a:hover {
    opacity: 1;
}

.profilebutton {
    background-color: #6f97c1;
    color: blue;
    float: right;
    height: 40px;
    line-height: 40px;
    margin: 2%;
    text-align: center;
    width: 100px;
}

tr:hover {
    background: #13c3c3;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even):hover {
    background: #13c3c3;
}

.add {
    background-color: magenta;
    border: none;
    display: block;
    height: 40px;
    left: 40%;
    line-height: 40px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    width: 100px;
}

label {
    font-weight: 900;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}
