body {
    background: #0000002e;
}

.welcome {
    clear: both;
    display: block;
    margin: 2%;
    padding: 2%;
}

.ridesoffered {
    background: #eee2ce;
    border: 3px solid grey;
    margin: 0 auto;
    overflow: auto;
    width: 90%;
}

.searchform {
    background: #6f97c1;
    display: inline-block;
    line-height: 40px;
    width: 50%;
}

.ridesinfo {
    display: inline-block;
    font-size: 20px;
    width: 40%;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 95%;
}

th {
    background: #a52a2a7a;
}

td, th {
    border-right: 1px solid grey;
    padding: 8px;
    text-align: left;
}

td a {
    color: red;
    display: block;
    width: 100%;
}

.rideoffer {
    cursor: pointer;
}

tr:hover {
    background: #13c3c3;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even):hover {
    background: #13c3c3;
}


.info {
    text-align: center;

}

.searchfield {
    background: #f1f1f1;
    border: none;
    display: inline-block;
    font-size: 21px;
    height: 100%;
    margin-left: 0;
    vertical-align: middle;
    width: 80%;

}

.searchbutton {
    background-color: #6f97c1;
    border: none;
    border-radius: 0;
    display: inline-block;
    height: 100%;
    line-height: 80%;
    margin: 2%;
    text-align: center;
    width: 10%;
}

td a {
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .searchform {
        display: block;
        width: 100%;
    }

    .ridesinfo {
        width: 100%;
    }

    .searchbutton {
        display: block;
        height: 30%;
        margin: 0 auto;
    }

    .searchfield {
        height: 70%;
        width: 100%;
    }
}
