body {
    background: #0000002e;
}

.offerform {
    align-content: center;
    background-color: #eee2ce;
    clear: both;
    margin: auto;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 60%;
}

label {
    width: 40%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

label {
    font-weight: 900;
}

.ridedetails {
    display: inline-block;
    width: 70%;
}

textarea {
    display: inline-block;
    margin: auto;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .offerform {
        width: 95%;
    }

    .ridedetails {
        display: block;
        width: 100%;
        margin: auto;
    }

    textarea {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 990px) and (min-width: 600px) {
    .offerform{
        width: 60%;
    }
}
